a {
  text-decoration: none;
  color:inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

#main {
  box-sizing: border-box;
  overflow: auto;
  padding: 0 0 0 240px;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 70px 20px;
}

aside #as_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  width: 190px;
}

aside #as_bx_login {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: calc(100%-1px);
  padding: 20px 30px;
  margin-bottom: 20px;
}

aside #as_login {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #7e7e7e;
  margin-bottom: 13px;
  font-weight: bold;
}

aside #as_login img {
  margin-right: 13px;
}

aside #as_login_add {
  font-size: 10px;
  color: #7e7e7e;
}

aside #as_login_add a span {
  color: red;
}
aside #as_nav {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  color: #424242f2;
  padding: 16px;
}

aside #as_nav ul{
  padding: 0;
}

aside #as_nav li a{
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

aside #as_nav li a img{
  margin-right: 12px;
}

aside #as_nav li a span{
  margin-right: 10px;
}

aside #as_nav li:hover {
  transition-duration:0.3s;
  transform: translateX(6px);
}

header {
  position: relative;
  overflow: hidden;
  height: 430px;
}

#arthdal-radio:checked ~ #arthdal-banner, 
#level-radio:checked ~ #level-banner, 
#seven-radio:checked ~ #seven-banner,
#raven-radio:checked ~ #raven-banner, 
#winjoy-radio:checked ~ #winjoy-banner{
  display: block;
}

#arthdal-radio:checked ~ div > label[for="arthdal-radio"], 
#level-radio:checked ~ div > label[for="level-radio"], 
#seven-radio:checked ~ div > label[for="seven-radio"], 
#raven-radio:checked ~ div > label[for="raven-radio"],  
#winjoy-radio:checked ~ div > label[for="winjoy-radio"]{
  background-color: #ffffff5d;
  border-bottom: 2px solid red;
} 

#arthdal-banner:hover,
#level-banner:hover,
#seven-banner:hover,
#raven-banner:hover,
#winjoy-banner:hover {
  transition-duration:0.3s;
  transform: scale(1.05); 
}

header #arthdal-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/251213/mainbanner_arthdal.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #arthdal-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/251213/mainbanner_arthdal.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #level-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2023/11/281811/231128_PC_bn.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #seven-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/04/021846/240402_skidle_banner.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #raven-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/211504/240321_raven.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #winjoy-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2023/12/261326/Banner_WinjoyPortal_Netmarble_WP_Default.png); 
  height: 100%; 
  background-position: 58% center;
}

header .bg {
  display: none;
}

header .bg a{
  display: block;
  height: 100%;
  width: 100%;
}

header #hd_nav {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 84.3%;
  height: 64px;
  color: #f8f8f899;
  font-size: 13px;
  background-color:rgb(00,00,00,0.3);
  padding: 0 35px;
  z-index: 10;
}

header #hd_nav label {
  display: inline-flex;
  width: calc((100% - 20px) / 5);
  justify-content: center;
  align-items: center;
  height: 100%;
}

section {
  display: flex;
  padding: 40px;
}

section #sc_bx_title {
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

section #sc_bx_title h1{
  font-size: 24px;
  color: #2F2F2F;
}


section #sc_bx_title a{
  font-size: 12px;
  color: #000000CC;
}

section #sc_bx_mob ul {
  display: flex;
  margin: 0;
}

section #sc_bx_mob li {
  margin-right: 24px;
  width: 202px;
}


section #sc_bx_mob span {
  font-size: 12px;
  color: #212121;
}

section #sc_bx_mob span strong {
  font-size: 14px;
  font-weight: normal;
}

section #sc_bx_mob a{
  display: flex;
}

section #sc_bx_mob li > div{
  position: relative;
  margin-bottom: 16px;
  border-radius: 10px;
}

section #sc_bx_mob li > div:hover {
  transition-duration:0.3s;
  transform: translateY(-10px);
  box-shadow: 0px 8px 30px rgb(0, 0, 0,0.6);
  .sc_bg{
    background-image: linear-gradient(to top, black,rgba(0,0,0,0.4));
  }
  .sc_bg > a {
    scale: 1;
    top: 30%;
    left: 15%;
  }

  .sc_bg span{
    position: relative;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
  }
}


section .sc_bg {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, rgba(0,0,0,0.3), rgba(0,0,0,0) ,rgba(0,0,0,0));
  z-index: 2;
}

section #sc_bx_mob li a > img{
  position: relative;
  border-radius: 10px;
  margin-right: 12px;
  margin-bottom: 52px;
}

section .sc_bg a {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 65%;
  left:-20px;
  scale: 0.55;
}

section .sc_bg a > span {
  display: none;
}

section .sc_bg a span img{
  margin-left: 10px;
  padding-top: 2px;
}

section #sc_bx_pc {
  box-sizing: border-box;
  flex-direction: column;
  align-items: right;
}

section #sc_bx_pc h1{
  font-size: 24px;
  color: #2F2F2F;
  padding: 0 0 0 40px;
}

section #sc_bx_pc a{
  display:flex;
  background-color: rgb(247, 247, 247);
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  height: 114px;
}

section #sc_bx_pc a:hover{
  transition-duration:0.3s;
  transform: translateY(-10px);
  box-shadow: 0px 8px 30px rgb(0, 0, 0,0.6);
}

section #sc_bx_pc img{
  border-radius: 10px 0 0 10px ;
}

section #sc_bx_pc span{
  font-size: 14px;
  padding: 30px 0 30px 30px;
}

section #sc_bx_pc strong{
  font-size: 17px;
}

article #ac_nav li:hover {
  color: royalblue;
}







