a {
  text-decoration: none;
  color:inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

#main {
  box-sizing: border-box;
  overflow: auto;
  padding: 0 0 0 240px;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 70px 20px;
}

aside #as_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  width: 190px;
}

aside #as_bx_login {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: calc(100%-1px);
  padding: 20px 30px;
  margin-bottom: 20px;
}

aside #as_login {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #7e7e7e;
  margin-bottom: 13px;
  font-weight: bold;
}

aside #as_login img {
  margin-right: 13px;
}

aside #as_login_add {
  font-size: 10px;
  color: #7e7e7e;
}

aside #as_login_add a span {
  color: red;
}
aside #as_nav {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  color: #424242f2;
  padding: 16px;
}

aside #as_nav ul{
  padding: 0;
}

aside #as_nav li a{
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

aside #as_nav li a img{
  margin-right: 12px;
}

aside #as_nav li a span{
  margin-right: 10px;
}

aside #as_nav li:hover {
  transition-duration:0.3s;
  transform: translateX(6px);
}

article #ac_nav li:hover {
  color: royalblue;
}

header {
  position: relative;
  overflow: hidden;
  height: 430px;
}

#arthdal-radio:checked ~ #arthdal-banner, 
#level-radio:checked ~ #level-banner, 
#seven-radio:checked ~ #seven-banner,
#raven-radio:checked ~ #raven-banner, 
#winjoy-radio:checked ~ #winjoy-banner{
  display: block;
}

#arthdal-radio:checked ~ div > label[for="arthdal-radio"], 
#level-radio:checked ~ div > label[for="level-radio"], 
#seven-radio:checked ~ div > label[for="seven-radio"], 
#raven-radio:checked ~ div > label[for="raven-radio"],  
#winjoy-radio:checked ~ div > label[for="winjoy-radio"]{
  background-color: #ffffff5d;
  border-bottom: 2px solid red;
} 

header input:checked ~ label {
  border-bottom: 2px solid red;
}

#arthdal-banner:hover,
#level-banner:hover,
#seven-banner:hover,
#raven-banner:hover,
#winjoy-banner:hover {
  transition-duration:0.3s;
  transform: scale(1.05); 
}

header #arthdal-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/251213/mainbanner_arthdal.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #arthdal-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/251213/mainbanner_arthdal.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #level-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2023/11/281811/231128_PC_bn.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #seven-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/04/021846/240402_skidle_banner.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #raven-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/211504/240321_raven.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #winjoy-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2023/12/261326/Banner_WinjoyPortal_Netmarble_WP_Default.png); 
  height: 100%; 
  background-position: 58% center;
}

header .bg {
  display: none;
}

header .bg a{
  display: block;
  height: 100%;
  width: 100%;
}

header #hd_nav {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 84.3%;
  height: 64px;
  color: #f8f8f899;
  font-size: 13px;
  background-color:rgb(00,00,00,0.3);
  padding: 0 35px;
  z-index: 10;
}

header #hd_nav label {
  display: inline-flex;
  width: calc((100% - 20px) / 5);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide {
  width: 0;
  height: 100%;
  background-color: #ffffff; /* 로딩 효과 색상 */
  position: absolute;
  top: 0;
  left: 0;
  animation: fillProgress 2s linear forwards;
}

@keyframes fillProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}






