@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

a {
  text-decoration: none;
  color:inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

#main {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  padding: 0 0 0 240px;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 70px 25px 30px 25px;
  z-index: 0;
}

#body{
  box-shadow:inset 0px 0px 70px #dbdbf3;
}

aside #as_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  width: 190px;
}

aside #as_bx_login {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: calc(100%-1px);
  padding: 15px 60px 20px 15px;
  margin-bottom: 20px;
  align-items: left;
}

aside #as_bx_login > a {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #7e7e7e;
  margin-bottom: 13px;
  font-weight: 500;
}

aside #as_bx_login a img {
  margin-right: 13px;
}

aside #as_login_add {
  display: flex;
  font-size: 10px;
  color: #7e7e7e;
}
aside #as_login_add > span {
  margin:0 5px;
}

aside #as_login_add a span {
  color: red;
}
aside #as_nav {
  box-sizing: border-box;
  font-size: 13px;
  color: #424242f2;
  padding: 16px;
}

aside #as_nav ul{
  padding: 0;
}

aside #as_nav li a{
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

aside #as_nav li a img{
  margin-right: 12px;
}

aside #as_nav li a span{
  margin-right: 10px;
}

aside #as_nav li:hover {
  transition-duration:0.3s;
  transform: translateX(6px);
  font-weight: bolder;
}

header {
  position: relative;
  overflow: hidden;
  height: 430px;
}

#arthdal-radio:checked ~ #arthdal-banner, 
#level-radio:checked ~ #level-banner, 
#seven-radio:checked ~ #seven-banner,
#raven-radio:checked ~ #raven-banner, 
#winjoy-radio:checked ~ #winjoy-banner{
  display: block;
}

#arthdal-banner:hover,
#level-banner:hover,
#seven-banner:hover,
#raven-banner:hover,
#winjoy-banner:hover {
  transition-duration:0.3s;
  transform: scale(1.05); 
}

header #arthdal-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/251213/mainbanner_arthdal.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #arthdal-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/251213/mainbanner_arthdal.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #level-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2023/11/281811/231128_PC_bn.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #seven-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/04/021846/240402_skidle_banner.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #raven-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2024/03/211504/240321_raven.jpg); 
  height: 100%; 
  background-position: 58% center;
}

header #winjoy-banner {
  background-image:url(https://sgimage.netmarble.com/web/6N/2023/12/261326/Banner_WinjoyPortal_Netmarble_WP_Default.png); 
  height: 100%; 
  background-position: 58% center;
}

header .bg {
  display: none;
}

header .bg a{
  display: block;
  height: 100%;
  width: 100%;
}

header #hd_nav{
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 84.5%;
  height: 64px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  background-color:rgb(00,00,00,0.3);
  padding: 0 120px 0 105px;
  z-index: 10;
  opacity: 0.6;
}

header #hd_nav:hover {
  opacity: 0.9;
}

header #hd_nav label {
  position: relative;
  cursor: pointer; 
  overflow: hidden;
  display: inline-flex;
  width: calc((100% - 20px) / 5);
  justify-content: center;
  align-items: center;
  height: 100%;
}

#arthdal-radio:checked ~ div > label[for="arthdal-radio"], 
#level-radio:checked ~ div > label[for="level-radio"], 
#seven-radio:checked ~ div > label[for="seven-radio"], 
#raven-radio:checked ~ div > label[for="raven-radio"],  
#winjoy-radio:checked ~ div > label[for="winjoy-radio"]{
  border-bottom: 4px solid red;
  background-color: #ffffff31;
} 

section {
  box-sizing: border-box;
  display: flex;
  padding: 40px 60px 60px;
}

section #sc_bx_title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

section #sc_bx_title h1{
  font-size: 24px;
  color: #2F2F2F;
}

section #sc_bx_title a{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  right: 25px;
  color: #000000CC;
  font-weight: bolder;
}

section #sc_bx_mob{
  width: 940px;
  margin-right: 16px;
}

section #sc_bx_mob ul {
  display: flex;
  margin: 0;
}

section #sc_bx_mob li {
  margin-right: 24px;
  width: 202px;
}

section #sc_bx_mob li:nth-child(4n) {
  margin: 0;
}

section #sc_bx_mob span {
  font-size: 12px;
  color: #212121;
}

section #sc_bx_mob span strong {
  font-size: 14px;
  font-weight: normal;
}

section #sc_bx_mob a{
  display: flex;
}

section #sc_bx_mob li > div{
  position: relative;
  margin-bottom: 16px;
  border-radius: 7px;
}

section #sc_bx_mob li > div:hover {
  transition-duration:0.3s;
  transform: translateY(-10px);
  box-shadow: 0px 8px 30px rgb(0, 0, 0,0.6);
  .sc_bg{
    background-image: linear-gradient(to top, black,rgba(0,0,0,0.4));
  }
  .sc_bg > a {
    scale: 1;
    top: 30%;
    left: 15%;
  }

  .sc_bg span{
    position: relative;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
  }
}

section .sc_bg {
  position: absolute;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, rgba(0,0,0,0.3), rgba(0,0,0,0) ,rgba(0,0,0,0));
  z-index: 2;
}

section #sc_bx_mob li a > img{
  position: relative;
  border-radius: 7px;
  margin-right: 12px;
  margin-bottom: 52px;
}

section .sc_bg a {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 65%;
  left:-20px;
  scale: 0.55;
}

section .sc_bg a > span {
  display: none;
}

section .sc_bg a span img{
  margin-left: 10px;
  padding-top: 2px;
}

section #sc_bx_pc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section #sc_bx_pc ul{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: right;
  width: 368px;
}

section #sc_bx_pc h1{
  font-size: 24px;
  color: #2F2F2F;
  padding: 0 0 0 40px;
}

section #sc_bx_pc a{
  display:flex;
  background-color: rgb(247, 247, 247);
  justify-content: left;
  align-items: center;
  border-radius: 7px;
  height: 114px;
  margin-bottom: 20px;
  margin-right: 20px;
}

section #sc_bx_pc a:hover{
  transition-duration:0.3s;
  transform: translateY(-10px);
  box-shadow: 0px 8px 30px rgb(0, 0, 0,0.6);
}

section #sc_bx_pc img{
  border-radius: 7px 0 0 7px ;
}

section #sc_bx_pc span{
  width: 120px;
  font-size: 14px;
  padding: 30px;
  padding-right: 40px;
}

section #sc_bx_pc strong{
  font-size: 17px;
  font-weight: 500;
}

article {
  display: flex;
  padding:0 0 0 100px ;
  box-sizing: border-box;
}

article #ac_bx {
  display: flex;
  height: 406px;
  border-radius: 7px 0 0 7px;
}

article #ac_bx a {
  overflow: hidden;
}

article #ac_nav {
  box-sizing: border-box;
  background-color: #1e2023;
  width: 368px;
  height: 406px;
  padding: 15px 0;
  border-radius: 0 7px 7px 0;
}

article #ac_nav ul{
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  color: #CCC;
}

article #ac_nav li{
  width:100%;
  margin-bottom: 15px;
}

article #ac_nav ul:last-child > li{
  width:calc(100%/3);
}

article #ac_nav h1{
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 30px;
  color: #fff;
}

article #ac_bx img:hover {
  transition-duration:0.3s;
  scale: 1.05;
}

article #ac_bx img{
border-radius: 7px 0 0 7px;
}

article #ac_nav li:hover {
  color: royalblue;
}

#ac_add a{
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #171717;
  padding-left: 110px;
  margin-top: 25px;
  padding-bottom: 100px;

  img {
    margin-right: 10px;
  }
}

footer {
  box-sizing: border-box;
  background-color: #1e2023;
  font-size: 11px;
  color: #FFFFFF99;
  padding: 64px 64px 94px;
}

footer #ft_bx_logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

footer .select {
  position: absolute;
  right: 200px;
  bottom: 29px;
  opacity: 0;
}

footer label {
  position: absolute;
  cursor: pointer; 
  right: 200px;
  bottom: 0;
}

footer #ft_bx_logo label{
  background-color: #000;
  padding: 7px 100px 7px 15px;
}

footer #ft_bx_logo .select > .option {
  background-color: #000;
  padding: 7px 110px 7px 15px;
}

footer .select > .option{
  border-bottom :1px solid rgba(192, 192, 192, 0.253);
}

footer .select a:hover{
  color: #CCC;
}

footer input:checked ~.select {
  opacity: 1;
}

footer #ft_bx_copy {
  margin-bottom: 13px;
}

footer #ft_copy_add {
  color: #FFFFFF80;
}

footer #ft_nav {
  padding-top: 50px;
  span{
    margin: 0 10px;
  }
}

footer table {
  font-size: 12px;
  margin-top: 50px;
}

@media(max-width:1290px) {
  *{
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  aside {
    display: none;
  }

  #main {
    padding: 0;
  }

  section {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;

    #sc_bx_pc ul{ 
      width: 100%;
      padding-left: 10px;
      justify-content: space-around;
    }
  }
  article {
    height: 600px;
    justify-content: center;
    padding: 0;

    #ac_bx {
    flex-wrap: wrap;
    justify-content: center;
      
      img {
        scale: 1;
        border-radius:7px 0 7px 0;
      }

      a {
        scale: 0.9;
      }

      #ac_nav {
        border-radius:0 0 7px 7px;
        padding-left: 20px;
        width : 873.9px;
        height: 200px;
        
        h1 {
          margin: 0;
          padding: 10px 0 20px;
        }

        ul {
          justify-content: center;
        }

        li {
          width: 10%;
        }

        ul:last-child {
          justify-content: left;
        }
      }
    }
    
    #ac_bx img:hover {
      transition-duration:0.3s;
      scale: 0.95;
    }
  }
   #ac_add {
    display: flex;
    justify-content: center;
    scale: 1.4;

    a{
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
    }
   }
   footer {
    display: flex;
    justify-content: center;
   }
  }          








